#grid{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 360px;
    height:721px;
}

.cell{
    width: 35px;
    height: 35px;
    border: .5px solid white;
    /* background-color:red; */
    /* border: .1px solid blue; */
    color: white;
}

.active{
    background-color: blue;
    border: .5px solid white;
}

.set{
    background-color: red;
}