#grid{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 250px;
    height:600px;
}

.cell{
    width: 25px;
    height: 25px;
    /* background-color:red; */
    /* border: .1px solid blue; */
    color: white;
}

.active{
    background-color: blue;
}

.set{
    background-color: red;
}